.indent__footer {
  margin: 0 200px 60px;
}
@media screen and (max-width: 1279px) {
  .indent__footer {
    margin: 0 15.5% 50px;
  }
}
@media screen and (max-width: 767px) {
  .indent__footer {
    margin: 0 10% 40px;
  }
}
@media screen and (max-width: 424px) {
  .indent__footer {
    margin: 0 19px 36px;
  }
}
