.indent__content {
  margin-left: 200px;
  margin-right: 200px;
}
@media screen and (max-width: 1279px) {
  .indent__content {
    margin-left: 15.5%;
    margin-right: 15.5%;
  }
}
@media screen and (max-width: 767px) {
  .indent__content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 424px) {
  .indent__content {
    margin-left: 19px;
    margin-right: 19px;
  }
}
