.header__burger{
  display: none;
}
@media screen and (max-width: 767px) {
  .header__burger {
    display: inline;
  }
}
@media screen and (max-width: 424px) {
  .header__burger {
    margin-right: 27px;
  }
}
